@model IEnumerable<HealthInsurenceSystem.Models.Paymentlog>

<head>

    <title>
        Policy Information
    </title>
</head>
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>

    <p class="lead"><h3> We have recored your interest.</h3></p>
    <hr><br />
    <p>Our Agent Contact You soon</p><br />
   <p> Secure Your Future with Us. Give us chance to help you.</p>
    <p> Stay Safe.</p>
    <br />
    <p>
        Check our Policies.
    </p>
    <p class="lead">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-block">Go to Home</a>
    </p>
</div>
