
@{
    ViewData["Title"] = "payonline";
}

<h1>Pay Online</h1>

<p>Policy has been added to your profile. You will receive the payment link once Agent approves your documents</p>

<hr />
<hr />

<div class="col">
    <a asp-action="Index" class="btn btn-info w-100"> Click to Proceed with Payment. Approval Pending!!!</a>
</div>
<hr />
<hr />
<div class="col">
    <a asp-action="Index" class="btn btn-success w-100"> Back to Policy Details</a>
</div>