
@{
    ViewData["Title"] = "knowmore";
}

<h1>More About Health Insurance Plans</h1>
<img src="https://www.what-a-blog.com/wp-content/uploads/2020/05/aa-Cover-0mfd5vvu77f1bvrtjhg0fc7t54-20200330160440.Medi_.jpeg" />
<img src="https://www.policybazaar.com/images/Health/what-is-health-insurance.png" />


<h3><u>Platinum Plan</u></h3>
<h5>Direct Claim Settlement </h5>
<p>No third party agents involved. Get your claims processed painlessly by our customer service team directly. </p>

<h5> All Day Care Treatments </h5>
<p>Your health insurance will cover host of day care procedures. </p>
<h5>  Pre & Post Hospitalisation </h5>
<p>We cover expenses 30 days before hospitalisation and 60 days post-discharge.</p>
<h5>  No Room Rent Cap </h5>
<p>Covered for rooms (except suites or above) for SI ₹ 5 lakhs & above </p>
<h5>  Health check-up </h5>
<p>Pick tests based on your needs and avail cashless health check-ups </p>
<h5>No Claim Bonus </h5>
<p>Get 20% more sum insured at renewal for each claim free year; max up to 100% </p>
<h5>Alternative treatment </h5>
<p>  Get cover for Ayurvedic, Unani, Siddha and Homeopathic treatments </p>

<hr />
<hr />
<div class="col">
<a asp-action="Index" class="btn btn-success w-100"> Back to Policy Details</a>
</div>