
@{
    ViewData["Title"] = "knowmore";
}

<h1>More About Health Insurance Plans</h1>
<img src="https://www.what-a-blog.com/wp-content/uploads/2020/05/aa-Cover-0mfd5vvu77f1bvrtjhg0fc7t54-20200330160440.Medi_.jpeg" />
<img src="https://www.policybazaar.com/images/Health/what-is-health-insurance.png" />


<h3><u>Silver Plan</u></h3>

<h5> All Day Care Treatments </h5>
<p>Your health insurance will cover host of day care procedures. </p>

<h5>  Pre & Post Hospitalisation </h5>
<p>We cover expenses 30 days before hospitalisation and 60 days post-discharge.</p>



<hr />

<div class="col">
<a asp-action="Index" class="btn btn-success w-100"> Back to Policy Details</a>
</div>