<b><h1>About Us</h1></b>

<p> SMU Health Insurance Portal designed and maintained by students of MCDA program </p>

<table cellspacing="20">
    <tr>
        <td><img src='https://avatars.githubusercontent.com/u/77202676?v=4' alt="profile pic1"></td>
        <td>
            <h1>Mitkumar Bipinkumar Patel</h1>
            <p><em>MCDA Student: <strong>A00444857</strong></em></p>
            <p><h2>Saint Mary's University</h2></p>
        </td>
    </tr>

    <tr>
        <td><img src='https://avatars.githubusercontent.com/u/77456089?s=400&u=64e9a2a1ed11290293a6e9fdc30576f6ea9ea5c5&v=4' alt="profile pic2"></td>
        <td>
            <h1>Deepan Munjal</h1>
            <p><em>MCDA Student: <strong>A00446961</strong></em></p>
            <p><h2>Saint Mary's University</h2></p>
        </td>
    </tr>

    <tr>

        <td><img src='https://avatars.githubusercontent.com/u/77347705?v=4' alt="profile pic3"></td>
        <td>
            <h1>Sivakarthikeyan Ganesan Kabaleeswaran</h1>
            <p><em>MCDA Student:<strong>A00442434</strong></em></p>
            <p><h2>Saint Mary's University</h2></p>
        </td>
    </tr>
</table>

<div>
    <img src='https://upload.wikimedia.org/wikipedia/en/thumb/b/b0/Saint_Mary%27s_University_%28Halifax%29_Logo.svg/1200px-Saint_Mary%27s_University_%28Halifax%29_Logo.svg.png' alt="profile pic3"></td>


</div>