<title>
    Contact Us
</title>
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>

    <p class="lead"><h3> We have recorded your problem.</h3></p>
    <hr><br />
    <p>Our executive get back to you sortly</p><br />
    <p> Meanwhile you can check our policy.</p>
    <br />
    <p>
        Buy our new Policy.
    </p>
    <p class="lead">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-sm">Go to Home</a>
    </p>
</div>
